html {
  font-family: Arial, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(180deg, #394867, #9ba4b5);
  background-size: cover;
  margin: 0;
  overscroll-behavior: none;
  padding-left: calc(100vw - 100%);
}
