* {
  box-sizing: border-box;
}

/* body { /*default body style (black Verdana)*/
  /* font-family:Verdana;
  color:#000000;
  padding-top: 60px; */
/* } */

body {
  padding-top: 120px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}


.responsive { /* makes elements,resize responsively,*/
  max-width:100%;
  max-height:100%;
}

.center { /*centers an element*/
  position: relative;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, 0%);
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

nav {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 10px 20px 0px rgba(0,0,0,.2);
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
    padding: 15px;
}

input {
  border: none;
  padding: 5px;
  border-radius: 5px;
}

input[type='number']{
  width: 96%;
  margin-left: 2%;
} 

input:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

.container {
  background-color: #c5bcaf;
  border-radius: 10px;
  border: 2px solid #837c73;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 50%;
}

.navbar-brand
{
  font-family: 'Tempest Apache', sans-serif;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

table{
  width:100%;
  table-layout:fixed;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 5px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 5px;
  margin: 5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 40px 12px;
}





.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #a5a5a5;
  overflow-x: hidden;
  padding-top: 100px;
}

.sidenav p {
  padding: 8px 10px 16px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  text-align: center; 
}

.sidenav p:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

html {
  scroll-behavior: smooth;
}





.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 120px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 10px 0px 20px 0px rgba(0,0,0,.2);
}

.sidebar p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar p:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px 10px 15px;
  border: none;
  margin-left: 1%;
  border-radius: 5px;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}